<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./main-css.css" rel="stylesheet">
    <title>상세조건 검색</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/swiper.min.css">
</head>

<body>
    <header>
        <div class="header-div">
            <div class="header-div-left">
                <div class="header-logo"><a class="header-logo-a" href="./index.html">으쩌구</a></div>
            </div>
            <div class="header-div-right">
                <div class="header-div-top">
                    <div><a class="header-a-tag-none">로그인</a>
                        <a class="header-a-tag-none">로그인</a>
                        <a class="header-a-tag-none">로그인</a>
                        <a class="header-a-tag-none">로그인</a>
                        <a class="header-a-tag-none">로그인</a>
                        <a class="header-a-tag-none">로그인</a>
                    </div>
                </div>
                <div class="header-div-lower">
                    <a class="header-a-tag-none-lower" href="./Condition.html">어쩌구 메뉴</a>
                    <a class="header-a-tag-none-lower">메뉴 저쩌구</a>
                    <a class="header-a-tag-none-lower">메 로그인 뉴</a>
                    <a class="header-a-tag-none-lower">메뉴</a>
                    <a class="header-a-tag-none-lower">메메뉴</a>
                    <a class="header-a-tag-none-lower">메</a>
                </div>
            </div>
        </div>
    </header>
    <div class="main-div">
        <section class="main-section">
            <div class="title-area">
                <div class="inner">
                    <div class="public-list">
                        <ol class="public-ol">
                            <li class="public-li">index ></li>
                            <li class="public-li">> 조건으로 검색 ></li>
                            <li class="public-li">> 상세조건 검색</li>
                        </ol>
                    </div>
                    <div class="public-title">
                        상세조건 검색
                    </div>
                    <div class="public-title-sub">
                        원하는 조건에 따라 좋은 기업을 찾아보세요.
                    </div>
                </div>
            </div>
            <div class="search-bar-div"></div>
            <div>

            </div>
            <div></div>
        </section>
    </div>
</body>

</html>